<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/regstyle.css">
</head>




<body>
  <div class="login-container">
    <h1>Login</h1>

    <form action="/login" method="POST" onsubmit="return ValidateLogin()">
        <label for="login_username">Username:</label>
        <input type="text" id="login_username" name="login_username" placeholder="Username" required>
        <label id = "login_usrrslt"></label>

        <label for="login_password">Password:</label>
        <input type="password" id="login_password" name="login_password" placeholder="Password" required>
        <label id = "login_pwdrslt"></label>

        {% if error %}
          <p style="color: red; text-align: center;">{{ error }}</p>
        {% endif %}

        <button type="submit" class="btn">Login</button>

        <div class="panel">
          <p>Don't have an account?</p>
          <a href="/registration">Register Here</a>
        </div>
    </form>
  </div>


  <script src="{{ url_for('static', filename='js/validation.js') }}"></script>


</body>
</html> 
