<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
</head>
<body>

    <h2>Login Form</h2>

    <form action="/login" method="POST">
        <label for="login_username">Username:</label><br>
        <input type="text" id="login_username" name="login_username" required><br><br>

        <label for="login_password">Password:</label><br>
        <input type="password" id="login_password" name="login_password" required><br><br>

        <input type="submit" value="Login">
    </form>

</body>
</html> 
