<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/regstyle.css">
    
</head>




<body>
    <div class="signup-container">

        <h1>Register</h1>

        <form action="/signup" onsubmit="return validateSignupForm()" method="POST"> 
        
            
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" placeholder="Username" required>
          <label id="usrrslt"></label>
          
          
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Email" required>
          <label id="emlrslt"> </label>
          
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Password" required>
          <label id="pwdrslt"></label>


          <label for="confirm_password">Confirm Password:</label>
          <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
          <label id="cnfpwdrslt"></label>
          {% if error %}
            <p style="color: red; text-align: center;">{{ error }}</p>
          {% endif %}
          

          <button type="submit" class="btn">Register</button>

          <div class="panel">
              <p style="text-align:center;">Already have an account?</p>
              <a href="/login" style="text-align:center;">Login Here</a>
          </div>
        </form>
    </div>




    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
</body>
</html>
